/* Your CSS Code here. */
#holder{
	width:100vw;
	height:20px;
	font-size:50px;
	display:flex;
   justify-content:space-between;
	flex-wrap:wrap;
}
.eg1{
	width:100px;
	height:100px;
	background-color:red;
	order:2;
}
.eg2{
	width:100px;
	height:100px;
	background-color:blue;
	order:3;
}
.eg3{
	width:100px;
	height:100px;
	background-color:green;
	order:1;
}
.eg4{
	width:100px;
	height:100px;
	background-color:lavender;
	order:2;
}
.eg5{
	width:100px;
	height:100px;
	background-color:khaki;
	order:2;
}
.eg6{
	width:100px;
	height:100px;
	background-color:gray;
	order:2;
}
.eg7{
	width:100px;
	height:100px;
	background-color:yellow;
	order:2;
}